/*
ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:left;
}

h5 {
    text-align:left;
}

body {background-color: #ffedda;}

.css-1kyxreq
{
    display:block;
}


img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
*/
/* Permet de centrer l'image en wide mode */
/*
#MainMenu {
    visibility: hidden;
}
header {
    visibility: hidden;
}

footer {
    visibility: hidden;
}
*/
body { background-color: wheat !important;}
ul {
    padding-left: 1.5rem;
  }

h1, h3 {
    text-align:center;
    font-family: 'Courier New', Courier, monospace !important;
}

h2{

    font-family: serif;
    
}

h5 {
    text-align:center;
    font-family: serif;
}

img {
    margin-left: 10.2rem;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
